<div>
<div class="row">
  <a class="tileLink" href="#/Easy">
    <article class="tile">
        <figure>
          <img src="https://thumbs.gfycat.com/EasygoingWarmheartedAnaconda-size_restricted.gif" alt="Easy" />
        <figcaption>
          <h2>Easy</h2>
        The rules are simple the number on a tile tells the number of mines touching it. Open all tiles and dont click on a mine.
        </figcaption>
      </figure>
    </article>
  </a>
  <a class="tileLink" href="#/Medium">  
    <article class="tile">
    <figure>
          <img src="https://media.giphy.com/media/bN5wu55IbKWQ/giphy.gif" alt="Medium" />
        <figcaption>
          <h2>Medium</h2>
            50% more fun than on easy mode, Because it has 50% more mines than on easy mode.
        </figcaption>
      </figure>
  </article>
  </a>
  <a class="tileLink" href="#/Hard">  
    <article class="tile">
      <figure>
        <img src="https://media1.tenor.com/images/31683832b0e947dee1d75fcbcc2e1022/tenor.gif?itemid=5187159" alt="Hard" />
        <figcaption>
          <h2>Hard</h2>
100% more fun than on easy mode.
        </figcaption>
      </figure>
    </article>
  </a>
  <a class="tileLink" href="#/Time">
    <article class="tile">
          <figure>
            <img src="https://media.giphy.com/media/Dtx6g7othLlC0/giphy.gif" alt="Timed" />
          <figcaption>
            <h2>Timed</h2>
              100% more fun and a timer !!!
          </figcaption>
        </figure>
    </article>
  </a>
</div>
    {{ok}}
    <marquee style="margin-top: 20px;color: aliceblue">
    Total Wins:<span id="wins"></span>
        <span style="display:inline-block; width: 400px;"></span>
       Total Losses:<span id="loss"></span>
                <span style="display:inline-block; width: 400px;"></span>
     High Score:<span id="score"></span>
    </marquee>
</div>
